body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.left-cont {
    position: relative;
    color: white;
    float: left;
    font-size: 30px;
    font-weight: bold;
    top: 20px;
    left: 20px;
}

.topnav {
    overflow: hidden;
    background-color: black;
    text-align: right;
}

.topnav a {
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 27px;
    font-size: 17px;
    font-weight: bold;
}

.topnav a:hover {
    background-color: white;
    color: black;
    transition: 0.5s ease;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width:600px) {
    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        padding: 60px;
    }

    .topnav.responsive .con {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        display: block;
        text-align: center;
    }

    .left-cont {
        position: fixed;
        text-align: center;
    }
}